/*Chimera Labels style*/

.chimeraLabel {
    background-color:transparent;
    text-align:center;
    padding-right:10px;
    border:none;
    color: white;
    font-size:15px;
    font-family:Arial;
}