/*Chimera Labels style*/

.chimeraLabel {
    background-color:transparent;
    text-align:center;
    padding-right:10px;
    border:none;
    color:white;
    font-size: 0.9vw;
    font-family:Arial;
    visibility:hidden;
    position:absolute;
}

.chimeraSettingsLabel {
    margin-left:10%;
    margin-top:5%;
    background-color:transparent;
    text-align:left;
    padding-right:10px;
    border:none;
    color:white;
    font-size: 1vw;
    font-family:Arial;
    visibility:hidden;
    width: 60%;
}

.chimeraProgressLabel {
    background-color:transparent;
    text-align:center;
    padding-right:10px;
    border:none;
    color:black;
    font-size: 1vw;
    font-family:Arial;
    visibility:hidden;
    position:absolute;
}